<div class="container contenedor_form">

<div class="card text-center c">
    <div class="card-header form_header">
      <h3>Reservas</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre Cliente:</label>
                <input type="text" class="form-control" id="inputEmail4" name="primNomCliente" [(ngModel)]="reserva.id_cliente.nombre" placeholder="Nombre Cliente">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Primer Apellido:</label>
                <input type="text" class="form-control" id="inputPassword4" name="primApeCliente" [(ngModel)]="reserva.id_cliente.primer_apellido" placeholder="Primer Apellido">
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <br>
                    <button class="btn btn-secondary btnInfo_cliente" 
                     data-target="#exampleModalScrollable"
                     data-toggle="modal">
                        Info adicional cliente
                    </button>
                </div>
                <div class="form-group col-md-6">
                        <label for="inputPassword4">Número Documento:</label>
                        <input type="text" class="form-control" id="inputPassword4" name="documCLiente" [(ngModel)]="reserva.id_cliente.numdocumento" placeholder="Documento">
                    </div>
              
            </div>
         
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Fecha Ingreso:</label>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp1" (dateSelect)="rellenaHabitacionSegunFechas($event)" [(ngModel)]="fechaIngreso" ngbDatepicker #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                    <label for="">Fecha Salida:</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd"
                             name="dp2" (dateSelect)="rellenaHabitacionSegunFechas($event)"  [(ngModel)]="fechaSalida" ngbDatepicker #d2="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
           
          
            <div class="form-row">
                   <!--  <div class="col-md-2"></div> -->
              <div class="form-group col-md-8">
                <label for="observaciones">Observaciones</label>
                <textarea type="text-area" class="form-control" name="observaciones" [(ngModel)]="reserva.observacion" id="observaciones" rows="5" cols="200"> </textarea>
              </div>
              <div class="form-group col-md-4">
                    <br>
                    <button class="btn btn-secondary btnInfo_cliente" 
                     data-target="#modalAcompanantes"
                     data-toggle="modal">
                        Acompañantes
                    </button>
                    <br>
                    
                    <br>
                    <div class="dropdown">
                       <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Habitación
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">A</a>
                          <a class="dropdown-item" href="#">B</a>
                          <a class="dropdown-item" href="#">C</a>
                          <a class="dropdown-item" href="#">D</a>
                          <a class="dropdown-item" href="#">E</a>
                          <a class="dropdown-item" href="#">F</a>
                        </div> -->
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle># Habitación</button>
                            <div id="selectHabitacion" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button (click)="onSelectedRoom($event)" ngbDropdownItem 
                              *ngFor="let habitacion of rellenoHabitaciones; let i = index" id="{{i+1}}">
                                {{habitacion}}
                              </button>
                          <!--     <button ngbDropdownItem>B</button>
                              <button ngbDropdownItem>C</button>
                              <button ngbDropdownItem>D</button>
                              <button ngbDropdownItem>E</button>
                              <button ngbDropdownItem>F</button> -->
                            </div>
                          </div>
                      </div>
                </div>
            </div>
            <button type="button" (click)="onRegistrarReserva()" class="btn btn-primary">Registrar Reserva</button>
          </form>
        
    </div>
  </div>
</div>

      
      <!-- Modal CLIENTE -->
      <div class="modal fade " id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header form_header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Información Adicional CLiente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form class="modal_form_cliente">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputEmail4">Segundo Apellido:</label>
                                <input type="text" class="form-control" id="inputEmail4" name="segApeCli" [(ngModel)]="reserva.id_cliente.segundo_apellido" placeholder="Segundo Apellido">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputPassword4">Dirección:</label>
                                <input type="text" class="form-control" id="inputPassword4" name="direccionCli" [(ngModel)]="reserva.id_cliente.direccion" placeholder="Dirección">
                            </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    
                                    <label for="inputPassword4">Teléfono:</label>
                                    <input type="number" class="form-control" id="inputPassword4" name="telCli" [(ngModel)]="reserva.id_cliente.telefono" placeholder="Teléfono">
                                </div>
                                <div class="form-group col-md-6">
                                        <label for="inputPassword4">E-mail:</label>
                                        <input type="email" class="form-control" id="inputPassword4" name="emailCli" [(ngModel)]="reserva.id_cliente.email" placeholder="E-mail">
                                    </div>
                              
                            </div>
                     
                          </form>
                        
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cleanData()">Vaciar Campos</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary btnInfo_cliente" (click)="saveInfoModalCliente()">Guardar Información</button>
            </div>
          </div>
        </div>
      </div>

<!--FIN MODAL CLIENTE-->


        
      <!-- Modal  Acompañantes-->
      <div class="modal fade " id="modalAcompanantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header form_header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">Información Acompañantes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <form class="modal_form_cliente">
                              
                                <div class="form-row">
                                       <!--  <div class="col-md-2"></div> -->
                                  <div class="form-group col-md-5">
                                    <label for="acompanantes">Número de acompañantes</label>
                                    <input type="number"  name="numAcompanantes" class="form-control" id="acompanantes" [(ngModel)]="numAcompanantes">
                                  </div>
                                  <div class="form-group col-md3">
                                      <br>
                                        <button [disabled]="numAcompanantes < 0 " type="button" class="btn btn-primary" (click)="showAcompanantesInfo()">Info Acompañantes</button>
                                  </div>
          
                                </div>
    
                            <!-- <ng-template #name> -->
                                    <div class="form-row formModel_row_acompanante" *ngFor="let acompanante of acompanantes; let i=index">




                                            <div class="card col-md-12">
                                                    <div class="card-header form_header">
                                                      
                                                
                                                
                                                                    <h2 class="">Acompañante {{i+1}}</h2>
                                                  <!--                   <input type="text" class="form-control" id="inputEmail4" placeholder="Segundo Apellido"> -->
                                                                

                                                    </div>
                                                    <div class="card-body form-row">
                                                            <div class="form-group col-md-4">
                                                                    <label for="nombreAcom">Nombre:</label>
                                                                    <input type="text" class="form-control inp" [(ngModel)]="acompanante.nombre" name="jjjj-{{i}}" id="nombreAcom{{i}}" placeholder="Nombre">
                                                                </div>
                                                            
                                                                  <div class="form-group col-md-4">
                                                                    <label for="apellidoAcom">Apellido:</label>
                                                                    <input type="text" class="form-control inp" required [(ngModel)]="acompanante.primer_apellido" name="acomPrimApe" id="apellidoAcom{{i}}" placeholder="Apellido">
                                                                </div>
                                                                <div class="form-group col-md-4">
                                                                      <label for="documentoAcom">Documento:</label>
                                                                      <input type="text" class="form-control inp" [(ngModel)]="acompanante.numero_documento" name="acomNumDoc" id="documentoAcom{{i}}" placeholder="Documento">
                                                                  </div>
                                                                  <hr>
                                                              </div>


                                                    </div>
                                                  </div>



                                        
                                            
    
                           <!--  </ng-template> -->
                            
                         
                              </form>
                            
                </div>
                <div class="modal-footer">
                  <button id="btnCerrarModalAcom" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary btnInfo_cliente" (click)="saveInfoAcompanantes()">Save changes</button>
                </div>
              </div>
            </div>
          </div>