.abrir-modal{
    background-color: rgba(0,0,0,0.5);
  /*    position: fixed;
    top:0px;
    left: 0px;  */ 
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
     z-index: 1000; 
} 

.modalHeader {

  background-color:seagreen;
  color: white;
}

.modalHeader h5:first-child{
  margin-right: 60%;
}

.modalBody {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modalBody div {
  margin-bottom: 20px;
}

.modalBody label {
  font-weight: 800;
  margin-right: 15px;
}

.modalBody div:nth-child(1) {
 align-self: flex-end;
}