<header class="header_fondo">
    <div class="header">
        <h1>Contáctenos</h1>
    </div>
</header>

<main class="contenedor">

    <div id="mapa" class="tarjeta">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.9380088809085!2d-73.93920099999998!3d4.473129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd5a32d108cb5ca4!2sHotel+Campestre+Las+Palmas+-+Ubaque!5e1!3m2!1ses!2sco!4v1565846295904!5m2!1ses!2sco"
            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="formulario">
        <form method="post">
            <div class="form_element">
                <input type="text" name="nombre" placeholder="Nombre" required="required">
                <input type="email" name="email" placeholder="Email" required="required">
            </div>
            <input class="form_element" type="text" name="asunto" placeholder="Asunto" required="required">
            <input class="form_element" type="tel" name="telefono" placeholder="Teléfono de Contacto"
                pattern="[0-9]{3}\s[0-9]{3}\s[0-9]{4}$"
                title="Debe ser un número teléfonico con esta estructura XXX XXX XXXX, teniendo en cuenta los espacios"
                required="required">
            <textarea class="form_element" name="mensaje" cols="30" rows="10" placeholder="Mensaje"
                required="required"></textarea>
            <input class="form_element" type="submit" value="Enviar Datos">
        </form>
    </div>
</main>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header2">CONTÁCTENOS</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="fname" name="name" type="text" placeholder="Nombre(s)" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="lname" name="name" type="text" placeholder="Apellido(s)" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Correo elctronico" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Teléfono" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Ingrese su masaje para nosotros aquí. Nos pondremos en contacto con usted dentro de 2 días hábiles." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Enviar Mensaje</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
