<header class="header_fondo">
        <div class="header">
            <h1>Servicios</h1>
            <ul class="lista_servicios">
                <li class="servicios_item"><a href="#entretenimiento" id="entretenimiento">Entretenimiento</a></li>
                <li class="servicios_item"><a href="">Eventos</a></li>
                <li class="servicios_item"><a href="">Piscina</a></li>
            </ul>
            
        </div>
    </header>
    <main>
        <section class="seccion">a</section>
        <section class="seccion_entretenimiento" id="entretenimiento">
            <article>
                <h2>Entretenimiento</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, reiciendis unde nisi minus animi, sed tempora itaque consectetur asperiores modi repellat! Aliquam illum nam labore quisquam rerum? Distinctio, a sit.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, reiciendis unde nisi minus animi, sed tempora itaque consectetur asperiores modi repellat! Aliquam illum nam labore quisquam rerum? Distinctio, a sit.</p>
            </article>
            <div class="entretenimiento_img"></div>
        </section>
        <section class="seccion_eventos">
                <div class="eventos_img"></div>    
                <article class="texto">
                    <h2>Eventos</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deleniti aspernatur ab quo cum, laboriosam earum animi! Fugit quis, aut qui, fuga quasi vero accusantium vel atque totam id exercitationem?
                   
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deleniti aspernatur ab quo cum, laboriosam earum animi! Fugit quis, aut qui, fuga quasi vero accusantium vel atque totam id exercitationem?
                        </p>
                </article>         
        </section>
        <section class="seccion_piscina">
                <article>
                    <h2>Piscina</h2>
                    <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A accusamus, velit dolor pariatur vitae, veniam sapiente praesentium laborum maiores culpa ad? Repellat magnam dolor eaque quos inventore, nisi molestiae. Itaque.
                       
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A accusamus, velit dolor pariatur vitae, veniam sapiente praesentium laborum maiores culpa ad? Repellat magnam dolor eaque quos inventore, nisi molestiae. Itaque.
                    </p>
                </article>
                <div class="piscina_img"></div>
        </section>
    </main>
