.header_fondo {
    background-image: url('../../../assets/img/exterior.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
/*     min-height: 100%; */
    display: flex;
}

.header {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 70%;
    font-size: 7vmin;
    text-align: center;
    font-weight: 900;
    /*       background-color: red; */
     letter-spacing: 3px; 
} 

.contenedor_habitaciones {
  /*   border: 1px green solid; */
    margin: 10em auto;
    width: 85%;
    
    /*      height:100vmax; */
    /*            background-color: aqua; */
    display: flex;
    flex-direction: column;
 
}



[class*='habitacion-'] {
    flex: 1;
    /*    flex-basis: 350px; */
    min-height: 450px;
  
 /*    background-color: blue; */
/*      border-bottom: 1px solid green; */
/*  border: 5px green solid; */
/* border: 2px rgb(0, 130, 60) solid; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
        background-color: whitesmoke;
    margin-bottom: 1.5rem;
padding: 40px;
}


.habitacion_imagenes{
    flex-basis: 70%;
/*      background-color: azure; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid seagreen;
    border-bottom: 1px solid seagreen;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.habitacion_imagenes img{
    margin: 10px;
    height: 150px;
    width: 150px;
}

h2{
    text-transform: uppercase;
/*     background-color: red; */
    flex-basis: 100%;
    text-align: center;
    font-size: 2.3rem;
 /*    color: rgb(0, 130, 60); */
 color: white;
    margin-bottom: 73px;
    border-bottom: 1px solid seagreen;
    background-color: #222222;
}


.habitacion_descripcion {
    /*        flex: 3;  */
    /*       flex-basis: 600px; */
    /*       width: 70px; */
 /*    height: 80px; */
/*        width: 70px; */
text-transform: uppercase;
line-height: 1.5rem;
font-family: sans-serif;
border-top: 1px white solid;
border-bottom: 1px seagreen solid;
margin-bottom:1rem;
padding: 15px 80px 10px 80px;
/* padding-top: 15px
padding-bottom: 0; */
flex-basis: 100%;
  color: black;
  font-weight: 600;
    background-color:white; 
    margin-top: 2em;
    border-top: 1px solid seagreen;
}


ul {
    /* color: white; */
   /*  background-color: white; */
   background-color: white;
    height: 90%;
    width: 350px;
    align-self: center;
    flex: 2;
}

.habitacion_precios {
    /*      flex: 1;
 flex-basis: 20%; */
    /*        width: 70px; */
/*        background-color: blueviolet; */
flex: 1;

text-align: center;
}

.habitacion_precios p {
    width: 70%;
    margin: 0 auto;
    background-color:seagreen;
    line-height: 4em;
    color: white;
    font-weight: 600;
    font-size: 2em;
}