<header class="header_fondo">
    <div class="header">
        <h1>habitaciones</h1>
    </div>
</header>

<main class="contenedor_habitaciones">

 
    <article class="habitacion-1">
        <!--   <div></div> -->
        <h2>habitación {{habitaciones[0].num_habitacion}}</h2>
        <div class="habitacion_imagenes">
            <img src="../../../assets/img/uno.jpg" alt="">
            <img src="../../../assets/img/uno.jpg" alt="">
            <ul>
                <li>Tamaño: 25 m²</li>
                <li>Camas: 1 king size</li>
            </ul>
        </div>
        <div class="habitacion_descripcion">
    
            <p>{{habitaciones[0].descripcion}}pppppppppppppppppp</p>
       
        </div>
        <div class="habitacion_precios">
         
        </div>
    </article>

    <article class="habitacion-2">
            <h2>habitación B</h2>
        <div class="habitacion_imagenes">
            <img src="../../../assets/img/uno.jpg" alt="">
            <img src="../../../assets/img/uno.jpg" alt="">
            <ul>
                <li>Tamaño: 25 m²</li>
                <li>Camas: 1 king size</li>
            </ul>
        </div>
        <div class="habitacion_descripcion">
                <p>La habitación Estándar del Hotel Campanario de la Villa capta en detalle el estilo colonial y tradicional de Villa de Leyva, con alrededor de 25 m² está diseñada para acoger a 1 ó 2 huéspedes.
                        Son habitaciones adecuadas para brindar descanso y confort luego de una larga jornada por Villa de Leyva, así mismo para ofrecer espacios de trabajo para quien decida hacer un viaje de negocios. Todas nuestras habitaciones ofrecen Smart Tv de 42”, dormitorio con cama King, mesa de trabajo, cheilon decorativo, baños amplios y guardarropa. </p>
                      
                    </div>
        <div class="habitacion_precios"></div>
    </article>
    <br>
    <article class="habitacion-3">
            <h2>habitación c</h2>
        <div class="habitacion_imagenes">
            <img src="../../../assets/img/uno.jpg" alt="">
            <img src="../../../assets/img/uno.jpg" alt="">
            <ul>
                <li>Tamaño: 25 m²</li>
                <li>Camas: 1 king size</li>
            </ul>
        </div>
        <div class="habitacion_descripcion">
               
                <p>La habitación Estándar del Hotel Campanario de la Villa capta en detalle el estilo colonial y tradicional de Villa de Leyva, con alrededor de 25 m² está diseñada para acoger a 1 ó 2 huéspedes.
                        Son habitaciones adecuadas para brindar descanso y confort luego de una larga jornada por Villa de Leyva, así mismo para ofrecer espacios de trabajo para quien decida hacer un viaje de negocios. Todas nuestras habitaciones ofrecen Smart Tv de 42”, dormitorio con cama King, mesa de trabajo, cheilon decorativo, baños amplios y guardarropa. </p>
    
                    </div>
        <div class="habitacion_precios"></div>
    </article>
    <br>
    <article class="habitacion-4">
            <h2>habitación D</h2>
        <div class="habitacion_imagenes">
            <img src="../../../assets/img/uno.jpg" alt="">
            <img src="../../../assets/img/uno.jpg" alt="">
            <ul>
                <li>Tamaño: 25 m²</li>
                <li>Camas: 1 king size</li>
            </ul>
        </div>
        <div class="habitacion_descripcion">
         
                <p>La habitación Estándar del Hotel Campanario de la Villa capta en detalle el estilo colonial y tradicional de Villa de Leyva, con alrededor de 25 m² está diseñada para acoger a 1 ó 2 huéspedes.
                        Son habitaciones adecuadas para brindar descanso y confort luego de una larga jornada por Villa de Leyva, así mismo para ofrecer espacios de trabajo para quien decida hacer un viaje de negocios. Todas nuestras habitaciones ofrecen Smart Tv de 42”, dormitorio con cama King, mesa de trabajo, cheilon decorativo, baños amplios y guardarropa. </p>
        
                    </div>
        <div class="habitacion_precios"></div>
    </article>
    <br>
    <article class="habitacion-5">
            <h2>habitación F</h2>
        <div class="habitacion_imagenes">
            <img src="../../../assets/img/uno.jpg" alt="">
            <img src="../../../assets/img/uno.jpg" alt="">
            <ul>
                <li>Tamaño: 25 m²</li>
                <li>Camas: 1 king size</li>
            </ul>
        </div>
        <div class="habitacion_descripcion">
             
                <p>La habitación Estándar del Hotel Campanario de la Villa capta en detalle el estilo colonial y tradicional de Villa de Leyva, con alrededor de 25 m² está diseñada para acoger a 1 ó 2 huéspedes.
                        Son habitaciones adecuadas para brindar descanso y confort luego de una larga jornada por Villa de Leyva, así mismo para ofrecer espacios de trabajo para quien decida hacer un viaje de negocios. Todas nuestras habitaciones ofrecen Smart Tv de 42”, dormitorio con cama King, mesa de trabajo, cheilon decorativo, baños amplios y guardarropa. </p>
                   
                    </div>
        <div class="habitacion_precios"></div>
  
 
    </article>
    <article class="habitacion-6">
            <h2>habitación G</h2>
        <div class="habitacion_imagenes">
            <img src="../../../assets/img/uno.jpg" alt="">
            <img src="../../../assets/img/uno.jpg" alt="">
            <ul>
                <li>Tamaño: 25 m²</li>
                <li>Camas: 1 king size</li>
            </ul>
        </div>
        <div class="habitacion_descripcion">
  
                <p>La habitación Estándar del Hotel Campanario de la Villa capta en detalle el estilo colonial y tradicional de Villa de Leyva, con alrededor de 25 m² está diseñada para acoger a 1 ó 2 huéspedes. 
                        Son habitaciones adecuadas para brindar descanso y confort luego de una larga jornada por Villa de Leyva, así mismo para ofrecer espacios de trabajo para quien decida hacer un viaje de negocios. Todas nuestras habitaciones ofrecen Smart Tv de 42”, dormitorio con cama King, mesa de trabajo, cheilon decorativo, baños amplios y guardarropa.
                </p>
              
            </div>
        <div class="habitacion_precios"></div>
    </article>
</main>
