<div class="login_fondo">
        <div class="login_container">
            <form action="">
                <h2>Login</h2>
                <div class="form_input">
                        <label for="">Usuario</label>
                        <input type="text">
                </div>
                <div class="form_input">
                        <label for="">Contraseña</label>
                        <input type="text">
                </div>   
                <input type="submit" name="" id="" value="Ingresar">
            </form>
        </div>
    </div>