<header class="header_fondo">
    <div class="header">
        <h1>Galería</h1>
    </div>
</header>

<section>
    <h2>IMÁGENES</h2>
    <article>
        <h3>2019</h3>
        <ul>
            <li>
                <a href="#" title="Exterior"><img src="assets/img/1.jpg" alt="Imagen 1"></a>
            </li>
            <li>
                <a href="#" title="Piscina"><img src="assets/img/2.jpg" alt="Imagen 2"></a>
            </li>
            <li>
                <a href="#" title="Comedor"><img src="assets/img/3.jpg" alt="Imagen 3"></a>
            </li>
            <li>
                <a href="#" title="Habitación"><img src="assets/img/4.jpg" alt="Imagen 4"></a>
            </li>
            <li>
                <a href="#" title="Exterior"><img src="assets/img/5.jpg" alt="Imagen 5"></a>
            </li>
            <li>
                <a href="#" title="Eventos"><img src="assets/img/salon_eventos.jpg" alt="Imagen 6"></a>
            </li>
            <li>
                <a href="#" title="Sala Juegos"><img src="assets/img/7.jpg" alt="Imagen 7"></a>
            </li>
            <li>
                <a href="#" title="Sala Estar"><img src="assets/img/8.jpg" alt="Imagen 8"></a>
            </li>
            <li>
                <a href="#" title="Exterior 2"><img src="assets/img/9.jpg" alt="Imagen 9"></a>
            </li>
            <li>
                <a href="#" title="Laguna Ubaque"><img src="assets/img/Laguna.jpg" alt="Imagen 9"></a>
            </li>
            <li>
                <a href="#" title="Cultura"><img src="assets/img/iglesiaPueblo.jpg" alt="Imagen 9"></a>
            </li>
            <li>
                <a href="#" title="Fechas Especiales"><img src="assets/img/mesaSillasAireLibre2.jpg" alt="Imagen 9"></a>
            </li>
        </ul>
    </article>
</section>