<main class="contenedor">
           
        <section class="home_header_fondo">
            <div class="header">
                <!--     <div id="globo"></div> -->
                    <h2>Bienvenidos al <span>Hotel Campestre las Palmas</span></h2>
                    <p>Buscando plan para el fin de semana? Visitanos en Ubaque a tan solo 56km desde Bogotá. El Hotel Campestre
                        Las Palmas🌴 ofrece tranquilidad diversión y entretenimiento para ti y toda tu familia/amigos.</p>
                    <a href="#temas" class="scroll">Conozca más</a>
                    <div id="abajo"></div>
            </div>
        </section>
        <section class="home_servicios">
            <h3>SERVICIOS</h3> 
            <article class="home_servicios_elements">
                <div class="home_servicios_element">
                         <img class="servicios_element_imagen" src="../../../assets/img/uno.jpg" alt="" srcset=""> 
                        <h4>Hospedaje</h4>
                        <p>Confortables habitaciones con servicios de tv, wifi, ducha caliente y todas las comodides que está
                                buscando para pasar los mejores momentos, en un ambiente de tranquilidad y armonia. No dudes en
                                venir a visitarnos</p>
                </div>
                <div class="home_servicios_element">
                         <img class="servicios_element_imagen" src="../../../assets/img/dos.jpg" alt="" srcset="">
                        <h4>Entretenimiento</h4>
                        <p>Contamos con servicio de piscina climatizada apta para niños y adultos, zona de juegos y amplias
                                zonas verdes. Si te gusta estar en contacto con la naturaleza contamos con zonas de relajación y
                                muchas cosas más. </p>
                </div>
                <div class="home_servicios_element">
                        <img class="servicios_element_imagen" src="../../../assets/img/tres.png" alt="" srcset=""> 
                        <h4>Eventos</h4>
                        <p>Contamos con un salón de eventos para toda ocasión (matrimonios, 15 años, empresas, reuniones
                                familiares). Un completo menú de platos a la carta, bebidas y todo lo que usted necesite para su
                                evento</p>
                </div>
            </article>
        </section>
        <section class="home_galeria">
            <h3>GALERÍA</h3>
            <div class="home_galeria_fotos">
                <a href="#" title="Hotel"><img src="../../../assets/img/1.jpg" alt="Imagen1"></a>
                <a href="#" title="Piscina"><img src="../../../assets/img/2.jpg" alt="Imagen2"></a>
                <a href="#" title="Comedor"><img src="../../../assets/img/3.jpg" alt="Imagen3"></a>
                <a href="#" title="Habitaciones"><img src="../../../assets/img/4.jpg" alt="Imagen4"></a>
                <a href="#" title="Ambiente"><img src="../../../assets/img/5.jpg" alt="Imagen5"></a>
                <a href="#" title="Comparte"><img src="../../../assets/img/6.jpg" alt="Imagen6"></a>
                <a href="#" title="Sala Juegos"><img src="../../../assets/img/7.jpg" alt="Imagen7"></a>
                <a href="#" title="Sala Estar"><img src="../../../assets/img/8.jpg" alt="Imagen8"></a>
                <a href="#" title="Balcón"><img src="../../../assets/img/9.jpg" alt="Imagen9"></a>
                <a href="#" title="Salón de Eventos"><img src="../../../assets/img/10.jpg" alt="Imagen10"></a>
            </div>
        </section>
        <section class="home_contacto">
            <h3>CONTÁCTENOS</h3>
            <div class="home_contacto_elements">
            <div class="formulario">
                <form method="post">
                    <input type="text" name="nombre" placeholder="Nombre" required="required">
                    <input type="email" name="email" placeholder="Email" required="required">
                    <input type="tel" name="telefono" placeholder="Teléfono" pattern="[0-9]{3}\s[0-9]{3}\s[0-9]{4}$"
                        title="Debe ser un número teléfonico con esta estructura XXX XXX XXXX, teniendo en cuenta los espacios"
                        required="required">
                    <textarea name="mensaje" cols="30" rows="10" placeholder="Mensaje" required="required"></textarea>
                    <input type="submit" value="Enviar Datos">
                </form>
            </div>
            <div id="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3399.9380088809085!2d-73.93920099999998!3d4.473129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd5a32d108cb5ca4!2sHotel+Campestre+Las+Palmas+-+Ubaque!5e1!3m2!1ses!2sco!4v1565846295904!5m2!1ses!2sco"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
            </div>
        </section>
      
    </main> 
    <a href="#contenido" class="arriba scroll" title="Ir a inicio"></a>
   
