<div class="contenedor_tabla">

    <div class="card text-center contenedor_tabs">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="">Todas</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link active" href="">Reservadas</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link active" href="">Disponibles</a>
                        </li>
            </ul>
        </div>
        <div class="card-body">

        <table class="habitaciones_tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th># Habitación</th>
                    <th>Disponible</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Número</td>
                    <td>Número</td>
                    <td>Número</td>
                    <td>Número</td>
                </tr>
                <tr>
                        <td>Número</td>
                        <td>Número</td>
                        <td>Número</td>
                        <td>Número</td>
                    </tr>
                    <tr>
                            <td>Número</td>
                            <td>Número</td>
                            <td>Número</td>
                            <td>Número</td>
                        </tr>
                        <tr>
                                <td>Número</td>
                                <td>Número</td>
                                <td>Número</td>
                                <td>Número</td>
                            </tr>
                            <tr>
                                    <td>Número</td>
                                    <td>Número</td>
                                    <td>Número</td>
                                    <td>Número</td>
                                </tr>
                                <tr>
                                        <td>Número</td>
                                        <td>Número</td>
                                        <td>Número</td>
                                        <td>Número</td>
                                    </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>